body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2e523d;
}

.icono {
  text-align: left;
  padding: 17px;
}

.icono img {
  position:absolute;
  left: 220px;
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.icono h1 {
  position: absolute;
  top: 25px;
  left: 25px;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  margin: 0;
}

.blanco {
  color: white;
}

.luz {
  color: white;
  text-shadow: 0 0 10px #FFFFDF, 0 0 10px #ffcc00;
}